th, td {
    padding:10px;
    align-items:center;
    border:solid black;
    border-width: 1px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.nav-admin {
    background-color: lightgray;
    width:15%;

    display: flex;
    flex-direction: column;
}

.nav-element {
    color:white;
    background-color: blue;
    margin-left: 10%;
    margin-top: 5%;
    height:15%;
    width:80%;
}