.error-message {
    color:red;
}

body {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(36, 36, 36);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-element {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    text-decoration-line: underline;

    border: solid 1px black;
    margin-left:5%;
    height: 2rem;
    background-color: rgb(3, 3, 161);
    color: white;
}

.nav-element :hover {
    cursor: pointer;
}

.logAction {
    margin-left: auto;
    margin-right: 3%;
}