.error-message {
    color:red;
}

body {
    margin: 0;
    height: 100vh;
}



nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(36, 36, 36);
}


nav .nav-element, nav  a {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    text-decoration-line: underline;

    border: solid 1px black;
    margin-top: 1.15rem;
    margin-bottom: 1.15rem;
    margin-left:5%;

    height: 2.5rem;
    background-color: rgb(3, 3, 161);
    color: white;
}

.nav-element :hover, nav form :hover {
    cursor: pointer;
}

ul {
    list-style: none;
}

.logAction {
    margin-left: auto;
    margin-right: 3%;
}

form div {
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
}

input[type = 'text'],  input[type = 'email'], input[type = 'password'], input[type='date']{
    width: 150px;
}

input.big-text {
    height: 150px;
}

.check {
    display: block;
}