.error-message {
    color:red;
}

body {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(36, 36, 36);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

nav a {
    margin-right:5%;
    height: 2rem;
    background-color: rgb(3, 3, 161);
    color: white;
}