.error-message {
    color:red;
}

body {
    margin: 0;
}



nav {
    display: flex;
    flex-direction: row;

    height: 8vh;
    background-color: rgb(36, 36, 36);
}

main {
    height: 82vh;
}

.nav-element {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    text-decoration-line: underline;

    border: solid 1px black;
    margin-top: 2vh;
    margin-left:5%;

    height: 4vh;
    background-color: rgb(3, 3, 161);
    color: white;
}

.nav-element :hover {
    cursor: pointer;
}

ul {
    list-style: none;
}

.logAction {
    margin-left: auto;
    margin-right: 3%;
}