.error-message {
    color:red;
}

body {
    margin: 0;
    height: 100vh;
}



nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(36, 36, 36);
}

main {
    background-color: red;
}

.nav-element {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    text-decoration-line: underline;

    border: solid 1px black;
    margin-top: 1.15rem;
    margin-bottom: 1.15rem;
    margin-left:5%;

    height: 2.5rem;
    background-color: rgb(3, 3, 161);
    color: white;
}

.nav-element :hover {
    cursor: pointer;
}

ul {
    list-style: none;
}

.logAction {
    margin-left: auto;
    margin-right: 3%;
}